<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>News Article NLP</title>
  </head>
  <body>
    <header>
      <p>header area</p>
    </header>
    <main>
      <section id="form">
        <form onsubmit="return Client.handleSubmit(event)">
          <div class="wrapper">
            <input id="analyze" name="analyze" required type="text" />
            <label for="analyze" class="label-name"
              ><span class="content-name">Name</span></label
            >
          </div>
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>
    <footer><p>footer area</p></footer>
  </body>
</html>
