$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  min-height: 100vh;
  display: grid;
  font: 100% $font-stack;
  color: $primary-color;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'content' 'footer';
}

header {
  grid-area: header;
}

main {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'none1 data none2';
  section {
    grid-area: data;
  }
}

footer {
  grid-area: footer;
}
